# Model Training

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel(r'F:\Projects\my_flight_price_pred\notebooks\data\flight_price.xlsx')

In [4]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [5]:
# Extracting Date from the Date of Journey:
df["Day_of_Journey"]=pd.to_datetime(df["Date_of_Journey"],format="%d/%m/%Y").dt.day

# Extracting Month from the Date of journey:
df["Month_of_Journey"]=pd.to_datetime(df["Date_of_Journey"],format="%d/%m/%Y").dt.month

In [6]:
X=df.drop(labels=['Price'],axis=1)
Y=df[['Price']]

In [7]:
categorical_cols=X.select_dtypes(include='object').columns
numerical_cols=X.select_dtypes(exclude='object').columns

In [8]:
Y

       Price
0       3897
1       7662
2      13882
3       6218
4      13302
...      ...
10678   4107
10679   4145
10680   7229
10681  12648
10682  11753

[10683 rows x 1 columns]

In [11]:
from sklearn.impute import SimpleImputer #Handling missing values 
from sklearn.preprocessing import StandardScaler    #Handling Feature Scaling
from sklearn.preprocessing import OneHotEncoder
#Pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [15]:
#Numerical Pipeline
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
)
# Categorical Pipeline
cat_pipeline = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('onehot', OneHotEncoder())
    ]
)
# Column Transformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', num_pipeline, numerical_cols),  # Replace 'num_features' with your numerical feature columns
        ('cat', cat_pipeline, categorical_cols)  # Replace 'cat_features' with your categorical feature columns
    ]
)

In [17]:
#Train Test split
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=42)

In [23]:
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())

ValueError: Shape of passed values is (7478, 1), indices imply (7478, 1944)

In [ ]:
#Model Training